@charset "UTF-8";

/* 回答はここに書いてね */

.speak {
  width: 500px;
  margin: 0 auto;
  border: solid 5px #222;
  padding: 20px;
  border-radius: 30px;
  position: relative;
}

.speak:before, .speak:after {
  content: "";
  position: absolute;
  left: 30px;
  border: 20px solid transparent;
}

.speak:before {
  bottom: -45px;
  border-top: 20px solid #222;
}

.speak:after {
  bottom: -38px;
  border-top: 20px solid #fff;
}

/* 回答はここに書いてね */

