@charset "UTF-8";

/* 回答はここに書いてね */

.q3__contents {
  width: 100%;
  table-layout: fixed;
  
}

th {
  background-color: #2244aa;
  color:#fff;
  line-height: 26px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #dedede;
}

td {
  text-align: center;
  border: 1px solid #dedede;
}

tfoot tr {
   border-top: 2px dashed #000;
}

tr:nth-child(even) {
  background-color: #ecf1f2;
}



/* 回答はここに書いてね */
