@charset "UTF-8";

/* 回答はここに書いてね */

.q3__contents {
  width: 100%;
  table-layout: fixed;
  
}

th {
  background-color: #2244aa;
  color:#fff;
  line-height: 26px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #dedede;
}

td {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #dedede;
}

tbody tr:last-child {
   border-top: 2px dashed #000;
}

tr:nth-child(2) {
  background-color: #ecf1f2;
}

tr:nth-child(4) {
  background-color: #ecf1f2;
}



/* 回答はここに書いてね */
